<div class="container-lg main-container">
    <header class="heading-container">
        <img src="/assets/bus-stop.svg" class="logo" alt="Ikona logo">
        <h1 class="m-0">
            Dynamiczne odjazdy
        </h1>
    </header>
    <div class="p-4 m-0">
        <app-info></app-info>
        <app-stops></app-stops>
    </div>
    <footer class="footer-container mt-auto">
        <a href="http://www.ztm.gda.pl/otwarty_ztm" target="_blank">
            Źródło danych: Zarząd Transportu Miejskiego w Gdańsku
        </a>
    </footer>
</div>